torch==2.2.2
torchvision==0.17.2
timm==0.5.4
Pillow
blobfile
mypy
numpy
pytest
requests
einops
tensorboard
scipy
opencv-python==4.5.1.48
Shapely==1.8.4
pdf2image
pytesseract
mmocr
pdfplumber
transformers
pandas
nms
tqdm
lxml
pymupdf
munkres
openmim